<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Thorin</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{{url_for('index')}}"></a>Home</li>
        <li><a href="{{url_for('about')}}"></a>About</li>
        <li><a href="{{url_for('contact')}}"></a>Contact</li>
      </ul>
    </nav>
    <h1>Contact Us</h1>
  </body>
</html>
